// ================= Estilos de la libreria franco ==========================================

@import 'variables';
@import 'base';
//@import 'utilities';
//@import 'container';
//@import 'components/header_main';
//@import 'components/menu_header';
//@import 'components/menu_modulos';
//@import 'components/control_panel';
//@import 'components/card';
//@import 'components/tabs';
@import 'components/table';
//@import 'components/pagination';
@import 'components/form';
@import 'components/modal';
@import 'components/button';
//@import 'components/dropdown';
@import 'components/alert';
//@import 'components/link';
//@import 'components/badge';
//@import 'components/preloader';